body {					background-image: url(Images/greybackground.png)
						}

@font-face {
					    font-family: 'avant_guardregular';
					    src: url('avant_guard-webfont.eot');
					    src: url('avant_guard-webfont.eot?#iefix') format('embedded-opentype'),
					         url('avant_guard-webfont.woff') format('woff'),
					         url('avant_guard-webfont.ttf') format('truetype'),
					         url('avant_guard-webfont.svg#avant_guardregular') format('svg');
					    font-weight: normal;
					    font-style: normal;

					    }

h1 {
                    	text-align: center;
                    	line-height: 5px;
                    	font-size: 16px;
                    	letter-spacing: 0.05em;
                    	font-family: 'avant_guardregular';
                    	}

h2 {
                    	text-align: center;
                    	font-style: normal;
                    	font-weight: normal;
                    	font-family: Verdana;
                    	line-height: 5px;
                    	font-size: 8px;
                    	}

p {
                    	text-align: center;
                    	word-wrap: break-word;
                    	line-height: 14px;
                    	font-size: 10px;
                    	font-family: Verdana;
                    	}

.header {
              			text-align: center;
              			width: 100%;
              			}

.dropshadow {			-moz-box-shadow: 0 0 5px 5px #888;
						-webkit-box-shadow: 0 0 5px 5px#888;
						box-shadow: 0 0 5px 5px #888;
						}
                    
img.displayed {			
						text-align: center;
						display: inline-block;
						margin: 0px;
						padding: 0px;
						}               

a:link {		
						font-size: 12px;
						font-family: Verdana;	
						font-weight: bold;				
						text-decoration: underline;
						color: black
						}
						
img {					border-style: none;}

a:visited img {			border: 0;
						}

.content { 				
						
						border-width: 100%; 
						text-align: center; 
						}

.footer	{				
						text-align: center;
						width:100%;
						height:auto;
						}
						
		
                 

